<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Complaint Management System</title>
    <script src="/js/index.js"></script>
</head>
<body>
	<a href="../auth/google">Login With Google</a><br/>
	<a href='../../'>Home</a><br/>
	<a href='../../admin/info'>Admin Info</a><br/>
	<a href='../../secy/info'>Secy Info</a>
	<h1>Complaint Management System</h1>
	<%if (typeof result != 'undefined'){%>
		Filter By Department:  
		<select onchange="filterByDept()" id='filterByDeptName'>
            <option value="none">No Filter</option>			
			<option value='academic'>Academic</option>
			<option value='sport'>Sports</option>
			<option value='cafeteria'>Cafeteria</option>
		</select>
		<br/>
		<br/>
		Search By Subject:
		<input type="text" id='search' onkeyup="search()" />
		<br/>
		<br/>
		<table>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Name</th>
			</tr>
			<% for(var i = 0;i<result.length;i++){%>
				<tr class="data">
					<td><%=result[i].admin_id || result[i].secy_id%></td>
					<td class="subject"><%=result[i].admin_email || result[i].secy_email%></td>
					<td class="dept"><%=result[i].admin_name || result[i].secy_name%></td>
				</tr>
			<%}%>
		</table>
	<%}else{%>
		<p>Data Not Found</p>
	<%}%>
</body>
</html>