<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Complaint Management System</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.checked {
		  color: orange;
		}
		.stars{
			border: none;
		    background-color: transparent;
		}
		#stars{
			display: none;
		}
	</style>
</head>
<body>
	<a href="../auth/google">Login With Google</a><br/>
	<a href='../../'>Home</a><br/>
	<a href='../../admin/info'>Admin Info</a><br/>
	<a href='../../secy/info'>Secy Info</a>
	<h1>Complaint Management System</h1>
	<%if (typeof result != 'undefined'){%>
		Filter By Department:  
		<select onchange="filterByDept()" id='filterByDeptName'>
            <option value="none">No Filter</option>			
			<option value='academic'>Academic</option>
			<option value='sport'>Sports</option>
			<option value='cafeteria'>Cafeteria</option>
		</select>
		<br/>
		<br/>
		Search By Email:
		<input type="text" id='search' onkeyup="search()" />
		<br/>
		<br/>
		<table>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Name</th>
				<th>Department</th>
				<th>Avg Rating</th>
			</tr>
			<% for(var i = 0;i<result.length;i++){%>
				<tr class="data">
					<td><%=result[i].admin_id || result[i].secy_id%></td>
					<td class='subject'><%=result[i].admin_email || result[i].secy_email%></td>
					<td><%=result[i].admin_name || result[i].secy_name%></td>
					<td class="dept"><%=result[i].dept_name%></td>
					<td>
						<%if(result[i].stars != null){%>
							<%for(var j=0;j<5;j++){%>
								<%if(j<Number(result[i].stars)){%>
									<span class="fa fa-star checked"></span>
								<%}else{%>
									<span class="fa fa-star"></span>
								<%}%>
							<%}%>
						<%}else{%>
							<span>N/A</span>
						<%}%>
					</td>
				</tr>
			<%}%>
		</table>
	<%}else{%>
		<p>Data Not Found</p>
	<%}%>
</body>
</html>