<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Complaint Management System</title>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        
    </head>
    <body>
     
     <h1 align="center">Complaint Management System</h1>
     
     <form>
     <div  id="box">
         <h3 align="center">LOGIN</h3>
         
         <table align="center">
            <tr>
                <th><label for="id">User ID </label></th>
                <th><input type="text" id="id" name="id" placeholder="User ID" required></th>
            </tr>
            <tr>
                <th><label for="pass">Password </label></th>
                <th><input type="password" id="pass" name="pass" placeholder="Password" required></th>
            </tr>
            <tr>
            
            </tr>
            <tr>
            
                <th><label for="type">User Type </label></th>
                <th ><select  id="type" name="type" required>
                     <option value="">----</option>
                     <option value="Student">Student</option>
                     <option value="Admin">Admin</option>
                     <option value="Secy">Secy</option>
                    </select>
                </th>
            </tr>
            
            </table>
            <br>
            <input type="submit" id="submit">
            <button type="button">Forgot Password</button>
     
     </div>
     </form>
     <a href="./student/home">Click Here to go to student home page</a>

    </body>
</html>