<!DOCTYPE html>
<html>
<head>
    <title>make complains</title>
</head>
<body>
    <form method="post">
        <p>
            Related to:
            <select name="dept_id" required>
                <option value="" disabled selected hidden>Choose a dept</option>
                <option value="1">Academic</option>
                <option value="2">Sport</option>
                <option value="3">Cafeteria</option>
            </select>   
        </p>
        <p>Complaint Subject: <input type="text" name="complaint_subject"></p>
        <p>Complaint Text:</p><textarea name="complaint_text" rows="4" cols="50"></textarea><br/>
        <button type="submit">Register Complaint</button>
    </form>

</body>
</html>