<!DOCTYPE html>
<html>
<head>
    <title>make complains</title>
    <style>
        body{margin: 0;}
        ul{margin: 0;padding: 0;display: flex;}
        li{list-style-type: none; margin: 0 3vw;float:left;}
        a{ text-decoration: none;color:white;display:block;}
        a:hover{ background-color: black;}
        nav{width: 100vw;
         background-color: grey;}
        button{margin-left: 60px;}
        p.p{margin-left: 10px;}
    </style>
    <script>
        function setDate(){
            var date = document.getElementById('date');
            var d = new Date();
            date.value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
        }
    </script>
</head>
<body onload="setDate()">
    <br>
    <br>
    
    
    
    <p style="background-color:black;color:white;font-size: 20px;"> &nbsp &nbsp &nbsp Hello <%=name%> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp    &nbsp &nbsp &nbsp    IIT INDORE Complaint Management System </p>
    
    
    <nav>
        <ul>
       <li> <a href="../auth/logout">LogOut</a></li>
       <li> <a href="./home">Home</a></li>
       <li> <a href="./history">History</a></li>
       <li> <a href="./new_complaint">New Complaint</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <form method="post">
        <%if(role=='student'){%>
             <p class="p">Student ID: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text" name="student_id" value='<%=id%>' readonly></p>
        <%}%>
        <%if(role=='secy'){%>
            <p class="p">Secy ID: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text" name="secy_id" value='<%=id%>' readonly></p>
        <%}%>
        <p class="p" >
            Related to: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <select name="dept_id" required>
                <option value="" disabled selected hidden>Choose a dept</option>
                <option value="1">Academic</option>
                <option value="2">Sport</option>
                <option value="3">Cafeteria</option>
            </select>   
        </p>
        <p class="p">Complaint Subject: &nbsp<input type="text" name="complaint_subject"></p>
        <p class="p">Complaint Text: &nbsp &nbsp &nbsp <textarea name="complaint_text" rows="1" cols="80"></textarea></p>
        <p class="p">Date: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <input type="text" name="date" readonly id="date"></p>
        <button type="submit" >Register Complaint</button>
    </form>
</body>
</html>