<!DOCTYPE html>
<html>
<head>
    <title>make complains</title>
    <script>
        function setDate(){
            var date = document.getElementById('date');
            var d = new Date();
            date.value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
        }
    </script>
</head>
<body onload="setDate()">
    <nav>
        <a href="../auth/logout">LogOut</a><br/>
        <a href="./home">Home</a><br/>
        <a href="./history">History</a><br/>
        <a href="./new_complaint">New Complaint</a>
    </nav>
    <form method="post">
        <%if(role=='student'){%>
            <p>Student ID: <input type="text" name="student_id" value='<%=id%>' readonly></p>
        <%}%>
        <%if(role=='secy'){%>
            <p>Secy ID: <input type="text" name="secy_id" value='<%=id%>' readonly></p>
        <%}%>
        <p>
            Related to:
            <select name="dept_id" required>
                <option value="" disabled selected hidden>Choose a dept</option>
                <option value="1">Academic</option>
                <option value="2">Sport</option>
                <option value="3">Cafeteria</option>
            </select>   
        </p>
        <p>Complaint Subject: <input type="text" name="complaint_subject"></p>
        <p>Complaint Text:</p><textarea name="complaint_text" rows="4" cols="50"></textarea><br/>
        <p>Date: <input type="text" name="date" readonly id="date"></p>
        <button type="submit">Register Complaint</button>
    </form>
</body>
</html>