<!DOCTYPE html>
<html>
<head>
    <title>make complains</title>
    <script>
        function setDate(){
            var date = document.getElementById('date');
            var d = new Date();
            date.value = d.getDate()+'-'+(d.getMonth()+1)+'-'+d.getFullYear();
        }
    </script>
</head>
<body onload="setDate()">
    <a href="./home">Home</a>
    <form method="post">
        <p>Student ID: <input type="text" name="student_id" value='2' readonly></p>
        <p>
            Related to:
            <select name="dept_id" required>
                <option value="" disabled selected hidden>Choose a dept</option>
                <option value="1">Academic</option>
                <option value="2">Sport</option>
                <option value="3">Cafeteria</option>
            </select>   
        </p>
        <p>Complaint Subject: <input type="text" name="complaint_subject"></p>
        <p>Complaint Text:</p><textarea name="complaint_text" rows="4" cols="50"></textarea><br/>
        <p>Date: <input type="text" name="date" readonly id="date"></p>
        <button type="submit">Register Complaint</button>
    </form>

</body>
</html>