body{
    background-image:url(https://upload.wikimedia.org/wikipedia/en/c/c4/Indian_Institute_of_Technology%2C_Indore_Logo.png);
    background-repeat: no-repeat;
    background-size:15% ;
    background-position:50% -230%;
}
#box{
    background-color:rgb(154, 204, 227);
    width:30%;
    margin-left:34%;            
    position:fixed;
    top:132px;
    padding:10px;
}
#submit{
    width:25%;
    margin-left:37.5%;
}
table{
    padding:5px;
}
#type{
    position:relative;
    left:-54px;
}