body {
	background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png") !important;
	background-attachment: fixed;
	font-family: "Poppins", sans-serif !important;
}
.container-fluid {
	margin-top: 20px;
	font-size: 1.1rem;
}
input,
textarea,
select {
	border: 1px solid gray !important;
}
