body {
	background-image: url('../images/whatsapp_bg.png') !important;
	background-attachment: fixed;
	font-family: "Poppins", sans-serif !important;
}
.container-fluid {
	margin-top: 20px;
	font-size: 1.1rem;
}
input,
textarea,
select {
	border: 1px solid gray !important;
}
